<h2>List of Artworks</h2>
<div>
  <label>Name:</label> <input #artworkName />
  <button (click)="add(artworkName.value); artworkName.value=''">
    Add
  </button>
</div>
<ul class="artworks">
  <li *ngFor="let artwork of artworks"
      [class.selected]="artwork === selectedArtwork"
      (click)="onSelect(artwork)">
    <span class="badge">{{artwork.id}}</span>
    <span> {{artwork.name}} </span>
    <button class="delete"
            (click)="delete(artwork); $event.stopPropagation()">x</button>
  </li>
</ul>
<div *ngIf="selectedArtwork">
  <h2>
    {{selectedArtwork.name | uppercase}} is selected
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>
